<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/static/image/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/image/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/image/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/image/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/image/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/image/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/image/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/image/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/image/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/image/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/image/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/image/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/image/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>你瞅啥</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css')}}">
  <link href="{{ static_url('css/navbar-fixed-top.css') }}" rel="stylesheet">
  <script src="{{ static_url('js/jquery.min.js')}}"></script>
  <script src="{{ static_url('js/bootstrap.min.js')}}"></script>
  <script src="{{ static_url('js/form_to_json.js')}}"></script>


  {% block head %}{% end %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">bdc</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/words/recite">Recite words!</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if current_user %}
              <li><a href="/user">{{current_user}}</a> </li>
              <li ><a href="#" id="logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          {% end %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    {% block body %}{% end %}
  </div>

</div>
 <!--/container -->

<footer class="container-fluid text-center">
  {% block bottom %}{% end %}
</footer>

</body>
<script>
      $(document).ready(function () {
        $('#logout').click(function () {
          $.ajax({
            type: "GET",
            url: "/logout",
            contentType: "application/json",
            success: function () {
              location.reload();
            }
          });
        });
      })
</script>
</html>

