{% extends "base.html" %}

{% block body %}
        <div id="myAlert" class="alert alert-success" hidden>
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success！</strong>
        </div>
<h2>Register</h2>

<div class="row">
    <form class="register" action="">
        <div class="col-md-5">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>info</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>name</td>
                    <td>
                        <label for="name">
                            <input id="name" type="text" name="name">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>scope</td>
                    <td>
                        <label>
                            <select class="form-control" name="scope">
                                {% for i in ["CET-4", "CET-6", "IELTS", "TOEFL"] %}
                                <option>{{i}}</option>
                                {% end %}
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>quota</td>
                    <td>
                        <label for="quota">
                            <input id="quota" type="text" name="quota">
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>password</td>
                    <td>
                        <label for="quota">
                            <input id="password" type="password" name="password">
                        </label>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
        <div class="col-md-7">
            <button id="submit" class="btn btn-default btn-info">Save changes</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#submit').click(function () {
            var $form = $("form.register");
            var data = getFormData($form);
            $.ajax({
                type: "POST",
                url: "/user",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (json) {
                    $("#myAlert").show();
//                    redirect_to_home("").delay(2000);
                }
            });

        });

    });

</script>

{% end %}


