{% extends "base.html" %}

{% block head %}
<link href="{{ static_url("css/blog.css") }}" rel="stylesheet">
{% end %}

{% block body %}
{% if error %}
<h4 class="form-signin-heading" style="color: red">Error: {{ error }}</h4>
{% end %}
    {% if word %}
        <div class="col-md-5">
            <h2>{{ word["word"] }}</h2>
        </div>
        {% if back_to_word %}
        <a class="btn btn-lg btn-info" href="/word/details/{{back_to_word}}" role="button">Go back</a>
        {% else %}
        <a class="btn btn-lg btn-info" href="/words/recite/{{word["word"]}}" role="button">OK</a>
        {% end %}

        <hr>
        <p>explanation</p>
        {% for explanation in word["explanation"] %}
        <h3>{{ explanation }}</h3>
        {% end %}

        <hr>
        <p>example</p>
        {% for example in word["example"] %}
        <h4>{{ example["eng"] }}</h4>
        <p>{{ example["chin"] }}</p>
        <p style="font-size: 15px">{{ example["origin"] }}</p>
        <br>
        {% end %}

        <hr>
        <p>scope</p>
        <h4>
            {% for scope in word["scope"] %}
            <div class="label" style="color: green;font-size: 15px">
                {{ scope }}
            </div>
            {% end %}
        </h4>


        <!-- need format to url -->
        <hr>
        <p>synonyms</p>
        {% for synonyms in word["synonyms"][:2] %}
        <h4>
            {% if back_to_word %}
            <p>{{ synonyms }}</p>
            {% else %}
            <a class="btn btn-lg btn-info" href="/word/details/{{ synonyms }}?back_to={{word["word"]}}" role="button">{{ synonyms }}</a>
            {% end %}
        </h4>
        {% end %}
    {% end %}

    <hr>
    <hr>
    {% if note_record %}

        <p>my notes</p>
        {% if current_user %}
            {% for note in note_record["notes"] %}
                {% if note["user"]["name"] == current_user %}
                <p class="text-justify text-left">{{ note["content"] }}</p>
                <h5 class="small text-right">
                    create_time: {{note["create_time"]}}
                </h5>
                {% end %}
            {% end %}
        {% end %}

    {% end %}

    <hr>
    <p>other notes</p>
    {% for note in note_record["notes"] %}
            {% if note["user"]["name"] != current_user %}
                <p class="text-info text-left">content: {{ note["content"] }}</p>
                <h5 class="small text-right">
                    user: {{ note["user"]["name"] }} &nbsp; &nbsp; create_time: {{note["create_time"]}}
                </h5>
                <br>
            {% end %}
    {% end %}
{% end %}
